# Новый раздел

1. Схема данных
Схема данных — это структура базы данных, которая описывает, как данные организованы и связаны между собой. Она включает:

Таблицы.

Столбцы и их типы данных.

Связи между таблицами (первичные и внешние ключи).

Ограничения (например, уникальность, проверки).

Схема данных определяет "скелет" базы данных, на основе которого строятся запросы и операции.

2. Первичный ключ (Primary Key)
Первичный ключ — это столбец (или набор столбцов), который уникально идентифицирует каждую запись в таблице. Его особенности:

Значение первичного ключа должно быть уникальным.

Не может содержать NULL.

Используется для создания связей между таблицами.

Пример:

In [ ]:
CREATE TABLE Students (
    student_id INT PRIMARY KEY,
    name VARCHAR(100),
    age INT
);

Здесь student_id — первичный ключ.

3. Внешний ключ (Foreign Key)
Внешний ключ — это столбец (или набор столбцов), который ссылается на первичный ключ другой таблицы. Он используется для создания связей между таблицами и обеспечения целостности данных.

Пример:

In [ ]:
CREATE TABLE Enrollments (
    enrollment_id INT PRIMARY KEY,
    student_id INT,
    course_id INT,
    FOREIGN KEY (student_id) REFERENCES Students(student_id),
    FOREIGN KEY (course_id) REFERENCES Courses(course_id)
);

Здесь student_id и course_id — внешние ключи, которые ссылаются на таблицы Students и Courses.

4. Оператор JOIN
Оператор JOIN используется для объединения данных из двух или более таблиц на основе связанных столбцов. Основные типы JOIN:

INNER JOIN: возвращает только те строки, которые имеют совпадения в обеих таблицах.

LEFT JOIN: возвращает все строки из левой таблицы и совпадающие строки из правой таблицы. Если совпадений нет, возвращает NULL для правой таблицы.

RIGHT JOIN: возвращает все строки из правой таблицы и совпадающие строки из левой таблицы. Если совпадений нет, возвращает NULL для левой таблицы.

FULL JOIN: возвращает все строки из обеих таблиц. Если совпадений нет, возвращает NULL для недостающих данных.

Пример INNER JOIN:

In [ ]:
SELECT Students.name, Enrollments.course_id
FROM Students
INNER JOIN Enrollments ON Students.student_id = Enrollments.student_id;

5. Оператор GROUP BY
Оператор GROUP BY используется для группировки строк по одному или нескольким столбцам. Обычно применяется с агрегатными функциями, такими как COUNT, SUM, AVG, MIN, MAX.

Пример:

In [ ]:
SELECT department, COUNT(*) AS employee_count
FROM Employees
GROUP BY department;

Этот запрос подсчитывает количество сотрудников в каждом отделе.

6. Оператор ORDER BY (Sort By)
Оператор ORDER BY используется для сортировки результатов запроса по одному или нескольким столбцам. По умолчанию сортировка выполняется по возрастанию (ASC), но можно указать сортировку по убыванию (DESC).

Пример:

In [ ]:
SELECT name, age
FROM Students
ORDER BY age DESC;

Этот запрос возвращает студентов, отсортированных по возрасту в порядке убывания.

7. Оператор HAVING
Оператор HAVING используется для фильтрации результатов группировки (после GROUP BY). В отличие от WHERE, который фильтрует строки до группировки, HAVING работает с агрегированными данными.

Пример:

In [ ]:
SELECT department, COUNT(*) AS employee_count
FROM Employees
GROUP BY department
HAVING COUNT(*) > 5;

Этот запрос возвращает только те отделы, где количество сотрудников больше 5.

Пример комплексного запроса

In [ ]:
SELECT Students.name, COUNT(Enrollments.course_id) AS courses_enrolled
FROM Students
LEFT JOIN Enrollments ON Students.student_id = Enrollments.student_id
GROUP BY Students.name
HAVING COUNT(Enrollments.course_id) > 2
ORDER BY courses_enrolled DESC;

Этот запрос:

Объединяет таблицы Students и Enrollments с помощью LEFT JOIN.

Группирует данные по именам студентов.

Фильтрует результаты, оставляя только тех студентов, кто записан более чем на 2 курса (HAVING).

Сортирует результаты по количеству курсов в порядке убывания (ORDER BY).

Эти понятия и операторы являются основой для работы с реляционными базами данных и позволяют эффективно извлекать и анализировать данные.